{{> cabecera }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>
            Batman vs Superman
        </h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos quasi delectus laboriosam laborum iusto cupiditate veniam aliquid facere, debitis quia veritatis. Ex a necessitatibus voluptatum maxime sit officia! Dolorum, et.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/super.jpg" class="img-thumbnail" >

    </div>
</div>

{{> pies }}